<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>The Home Page</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque vel, excepturi eius maxime sint officiis suscipit nulla voluptates maiores voluptas aut delectus tempore dignissimos similique eligendi impedit nemo cupiditate aspernatur!
    </p>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur qui esse debitis ipsa quae itaque, totam non neque ratione incidunt, quas repudiandae nihil tenetur adipisci, blanditiis quod aspernatur odit corporis!
    </p>
</body>
</html>